<html>
<head>
    <title>Home</title>
</head>

<body>
<h1>Real time chat</h1>
<h3>Welcome to real time chat</h3>

<form action="/home" method="POST">
    Username: <input type = "text" name="Username" value={{user}}><br>
    Password: <input type = "password" name = "Password"><br>
    <button type = "submit" name="login" value="lg">Login</button>
    <button type = "submit" name="register" value="rg">Register</button>
    {{# errors}}
	 <div class="alert-danger p-2 mb-2">
		{{msg}}
	</div>
	{{/errors}}
</form>



</body>
</html>